<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<header>
    <%- include('../partials/header'); %>
  </header>
<body class="container">
  <main>
    <div class="jumbotron">
      <h2>Books Data</h2>
      <form action="/addBook" method="get" style="float:inline-end" target="addBook">
        <input type="submit" value="Add a book" >
      </form>
      <p>The following is the table with all the books data</b>
      </p>
      <table width='80%' border=0>
 
        <tr style='text-align:left; background-color:maroon'>
            <th>ID</th>
            <th>Title</th>
            <th>Author Id</th>
            <th>&emsp;Year</th>
        </tr>
        <% let i=0%>
        <% data.forEach(function(){ %>
            <tr>
                <td><%= data[i].Id %></td>
                <td><%= data[i].Title %></td>
                <td><%= data[i].Author_Id %></td>
                <td><%= data[i].Year %></td>
                <td>                          
                    <form action="/deleteBook" method="post">
                      <input type="submit" style="float:inline-end" value="Delete">  
                      <input type="hidden" style="float:right" id="id" name="id" value=<%= data[i].Id %>>
                    </form>
                </td>
            </tr>
            <% i++%>
        <% }) %>
        
    </table>
    <iframe name="addBook"></iframe>
    </div>
  </main>
</body>

</html>